.guide{
    margin-top: 4rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: rgb(229, 252, 252);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.left{
    padding: 1.5rem;
    /* padding-left: 2rem; */
    
}
@media (min-width:700px) {
    .guide{
        grid-template-columns: repeat(2,1fr);
    }
    .left{
        text-align: left;
        margin-left: 2rem;
    }
    .pics{
        display: none;
    }
    
}
@media (max-width:700px) {
    .left .contact{
        display: none;
    }
    .left p{
        display: none;
    }
    .left{
        text-align: center;
        padding: 1.2rem;
        
    }
}
.left h{
    font-size: 1.8rem;
    font-family: "Merriweather",serif;
    font-style: italic;
    line-height: 1.4;
    color: #343434;
}
/* .left p{

} */
.left p{
    font-size: 18px;
    margin-top: 1.2rem;
    color: #555353;
}
.pics{
    text-align: center;
    padding: 1.5rem;
}
.contact{
    display: inline-flex;
    text-align: center;
    flex-direction: row;
    column-gap: 2rem;
    margin-top: 0.5rem;
}
.contact p1{
    font-size: 17px;
    margin-top: 8px;
    font-weight: bolder;
}
.enquiery{
    border: none;
    padding: 8px 15px;
    font-size: 17px;
    font-family: "Merriweather",serif;
    font-style: italic;
    font-weight: bold;
    color: white;
    background-color: rgb(89, 138, 245);
    border-radius: 5px;
}

.right{
    padding: 1rem;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}
.expert{
    padding: 0.6rem;
}
.expert img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    cursor:pointer;
    margin-bottom: 1rem;
}
.expert h{
    font-size: 18px;
    font-weight: 550;
    color: #555353;
}
@media (max-width:700px){
    .expert img{
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 50%;
        cursor:pointer;
        margin-bottom: 1rem;
    }
    .expert h{
        font-size: 16px;
    }
    .right{
        justify-content: center;
    }
    
}

@media (max-width:380px) {
    .expert{
        padding: 0.4rem;
    }
    .expert img{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        cursor:pointer;
        margin-bottom: 1rem;
    }
    .expert h{
        font-size: 15px;
    }
    .contact p1{
        font-size: 15px;
    }
}
