.main-heading{
	margin-top: 3rem;
	text-align: center;
	padding:1rem;
}
.main-heading h3{
	color: rgb(16, 32, 250);
	font-family: "Merriweather",serif;
	font-style: italic;
	font-weight: 500;
}
.main-heading p{
	font-family: "Merriweather",serif;
    font-style: italic;
	font-size: 16px;
	color: rgb(115, 116, 116);
}
.main-class{
	display: grid;
	padding:1rem;
	grid-template-columns: repeat(1,1fr);
	column-gap: 35px;
	row-gap: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 2rem;
}
@media (min-width:700px) and (max-width:1000px) {
	.main-class{
		grid-template-columns: repeat(2,1fr);
	}
	.inner-class:nth-child(1){
		display: none;
	}
	.inner-class:nth-child(2){
		grid-column-start: 0;
		grid-column-end: 1;
	}
	.inner-class:nth-child(3){
		grid-column-start: 1;
		grid-column-end: 2;
	}
}
@media (min-width:1000px){
	.main-class{
		grid-template-columns: repeat(3,1fr);
		padding-left: 3rem;
		padding-right: 3rem;
	}
}
@media (max-width:600px) {
	.main-heading span{
		display: none;
	}
}
.inner-class{
	background-color: rgb(253, 253, 235);
	cursor: pointer;
	border-radius: 10px;
}
.inner-class:hover{
	box-shadow: 0 0 20px rgb(170, 169, 169);
	transform: scale(1.02);
	transition-duration: 0.6s;
	background-color: white;
}
.write{
	padding:1rem;
}
.inner-class h{
	font-size: 22px;
	font-weight: 450;
	color: rgb(7, 18, 173);
}
.inner-class p{
	margin-top:8px;
	line-height: 1.8;
}

.event{
	border: none;
	background-color: transparent;
	color: rgb(42, 98, 253);
}

.all{
	margin-top: 2rem;
	padding: 8px 15px;
	background-color: rgb(249 106 148);
	color: white;
	font-weight: 500;
	border: none;
	border-radius: 10px;
}

/* ---------------------------------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");

.main-heading-2{
	margin-top: 3rem;
	text-align: center;
	padding:1rem;
}
.main-heading-2 h3{
	color: rgb(24, 37, 223);
	font-size: 2.1rem;
	font-family: "Merriweather",serif;
	font-style: italic;
	font-weight: 500;
}
.main-heading-2 p{
	font-family: "Merriweather",serif;
    font-style: italic;
	font-size: 16px;
	color: rgb(115, 116, 116);
}

.container {
	padding-bottom: 3rem;
}
.column {
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.container img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.column:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.last {
	margin-top: 6.5rem;
}
.featured_wrapper {
	position: relative;
}
.featured_wrapper img {
	width: 100%;
	width: 100%;
	height: 350px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: top;
	object-position: top;
}
.title_wrapper {
	position: absolute;
	width: 100%;
	left: 2rem;
	bottom: 2rem;
	padding: 20px 40px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.title_wrapper h1 {
	width: 70%;
}

@media (max-width: 768px) {
	.title_wrapper {
		text-align: center;
		left: 0;
	}
	.title_wrapper h1 {
		font-size: 32px !important;
		width: 100%;
	}
	.container {
		padding: 20px;
	}
}
@media (max-width: 480px) {
	.column.is-one-quarter img {
		width: 100%;
		margin-bottom: 7rem;
	}
}

.container{
	display: grid;
	grid-template-rows: repeat(2,1fr);
	row-gap: 20px;
}
.columns_first{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	column-gap: 20px;
}
.columns_last{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	column-gap: 20px;
}
.caard-body{
	padding: 15px;
	background-color: rgb(234, 255, 255);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.caard-body h{
	font-size: 18px;
	font-weight: 500;
	color: rgb(108, 108, 110);
}