.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.service{
  width: 18rem;
 border-radius: 10px;
 border:none;
 background-color: rgb(254, 255, 214);
}
.service-body{
  padding: 1rem;
  text-align: justify;
}

.main-heading{
	margin-top: 3rem;
	text-align: center;
	padding:1rem;
}
.main-heading h3{
	color: rgb(16, 32, 250);
	font-family: "Merriweather",serif;
	font-style: italic;
	font-weight: 500;
}
.main-heading p{
	font-family: "Merriweather",serif;
    font-style: italic;
	font-size: 16px;
	color: rgb(115, 116, 116);
}

